In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('nyc_weather.csv')

In [6]:
ar = df.to_numpy()

In [8]:
ar.shape

(10, 2)

In [13]:
df

     date  temperature(F)
0   Jan 1              27
1   Jan 2              31
2   Jan 3              23
3   Jan 4              34
4   Jan 5              37
5   Jan 6              38
6   Jan 7              29
7   Jan 8              30
8   Jan 9              35
9  Jan 10              30

In [19]:
np.mean(df['temperature(F)'][:7])

31.285714285714285

In [21]:
np.max(df['temperature(F)'])

38

In [26]:
dct_tem = dict(zip(df.date, df['temperature(F)']))

In [27]:
dct_tem['Jan 9']

35

In [29]:
dct_tem['Jan 4']

34

In [31]:
with open('poem.txt', 'r') as pm:
    for el in pm:
        print(el)

Two roads diverged in a yellow wood,

And sorry I could not travel both

And be one traveler, long I stood

And looked down one as far as I could

To where it bent in the undergrowth;



Then took the other, as just as fair,

And having perhaps the better claim,

Because it was grassy and wanted wear;

Though as for that the passing there

Had worn them really about the same,



And both that morning equally lay

In leaves no step had trodden black.

Oh, I kept the first for another day!

Yet knowing how way leads on to way,

I doubted if I should ever come back.



I shall be telling this with a sigh

Somewhere ages and ages hence:

Two roads diverged in a wood, and IвЂ”

I took the one less traveled by,

And that has made all the difference.

In [34]:
dict_w = {}

with open('poem.txt', 'r') as pm:
    for el in pm:
        lst = el.split(' ')
        for el_lst in lst:
            el_lst = el_lst.replace('\n', '')
            if el_lst in dict_w.keys():
                dict_w[el_lst] += 1
            else:
                dict_w[el_lst] = 1

In [35]:
dict_w

{'Two': 2,
 'roads': 2,
 'diverged': 2,
 'in': 3,
 'a': 3,
 'yellow': 1,
 'wood,': 2,
 'And': 6,
 'sorry': 1,
 'I': 8,
 'could': 2,
 'not': 1,
 'travel': 1,
 'both': 2,
 'be': 2,
 'one': 3,
 'traveler,': 1,
 'long': 1,
 'stood': 1,
 'looked': 1,
 'down': 1,
 'as': 5,
 'far': 1,
 'To': 1,
 'where': 1,
 'it': 2,
 'bent': 1,
 'the': 8,
 'undergrowth;': 1,
 '': 3,
 'Then': 1,
 'took': 2,
 'other,': 1,
 'just': 1,
 'fair,': 1,
 'having': 1,
 'perhaps': 1,
 'better': 1,
 'claim,': 1,
 'Because': 1,
 'was': 1,
 'grassy': 1,
 'and': 3,
 'wanted': 1,
 'wear;': 1,
 'Though': 1,
 'for': 2,
 'that': 3,
 'passing': 1,
 'there': 1,
 'Had': 1,
 'worn': 1,
 'them': 1,
 'really': 1,
 'about': 1,
 'same,': 1,
 'morning': 1,
 'equally': 1,
 'lay': 1,
 'In': 1,
 'leaves': 1,
 'no': 1,
 'step': 1,
 'had': 1,
 'trodden': 1,
 'black.': 1,
 'Oh,': 1,
 'kept': 1,
 'first': 1,
 'another': 1,
 'day!': 1,
 'Yet': 1,
 'knowing': 1,
 'how': 1,
 'way': 1,
 'leads': 1,
 'on': 1,
 'to': 1,
 'way,': 1,
 'doubted': 1,
 'if': 1,
 'should': 1,
 'ever': 1,
 'come': 1,
 'back.': 1,
 'shall': 1,
 'telling': 1,
 'this': 1,
 'with': 1,
 'sigh': 1,
 'Somewhere': 1,
 'ages': 2,
 'hence:': 1,
 'IвЂ”': 1,
 'less': 1,
 'traveled': 1,
 'by,': 1,
 'has': 1,
 'made': 1,
 'all': 1,
 'difference.': 1}

In [36]:
#Implement hash table collision handling using linear probing

In [38]:
def hash_func(str_el: str, num_of_el: int) -> int:
    sum_h = 0
    for el in str_el:
        sum_h += oct(el)
    
    mod = sum_h % num_of_el
    
    return mod